.island {
  background-color: var(--lynx-white);
  border-radius: desktop-vw(20px);
  margin: 0 var(--spacing-sm);
  padding: desktop-vw(90px) desktop-vw(85px);
  position: relative;
  z-index: 10;

  @include mobile {
    border-radius: mobile-vw(20px);
    margin: 0;
    padding: mobile-vw(50px) mobile-vw(16px);
  }

  > h1 {
    @include dims(desktop-vw(600px), auto);
    font-family: var(--font-albert-sans);
    font-size: desktop-vw(45px);
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.04em;
    margin-bottom: desktop-vw(50px);
    text-align: center;

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(28px);
      margin-bottom: mobile-vw(30px);
    }
  }

  > p {
    @include dims(desktop-vw(850px), auto);
    font-family: var(--font-mukta);
    font-size: desktop-vw(25px);
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: desktop-vw(50px);
    text-align: center;

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(20px);
      line-height: 1.35;
      margin-bottom: mobile-vw(30px);
    }
  }

  > h2 {
    @include dims(desktop-vw(640px), auto);
    font-family: var(--font-mukta);
    font-size: desktop-vw(28px);
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: desktop-vw(100px);
    margin-top: desktop-vw(50px);
    margin-left: auto;

    strong {
      font-weight: 600;
    }

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(24px);
      line-height: 1.35;
      margin: mobile-vw(50px) 0;
      text-align: center;
    }
  }

  .teaserC {
    @include dims(desktop-vw(770px), desktop-vw(300px));
    border-radius: desktop-vw(5px);
    margin-bottom: desktop-vw(60px);
    overflow: hidden;

    @include mobile {
      @include dims(auto, mobile-vw(300px));
      border-radius: mobile-vw(5px);
      margin-bottom: mobile-vw(30px);
    }
  }

  .stats {
    margin-bottom: desktop-vw(50px);

    @include mobile {
      margin-bottom: 0;
    }

    @include hover {
      &:hover {
        > div {
          opacity: 0.25;
        }
      }
    }

    > div {
      padding: desktop-vw(16px);
      position: relative;
      transition: 400ms opacity var(--ease-out-expo);

      @include mobile {
        padding: mobile-vw(16px);
      }

      @include hover {
        &:hover {
          opacity: 1;

          &::after {
            transform: translateY(desktop-vw(-20px));

            @include mobile {
              transform: translateY(mobile-vw(-20px));
            }
          }
        }
      }

      &::after {
        content: "";
        @include position(absolute, 0, 0px, 0, 1px);
        border: 1px solid var(--clouded-vision);
        border-radius: desktop-vw(20px);
        margin: 0 -1px;
        transition: 400ms transform var(--ease-out-expo);
        z-index: 0;

        @include mobile {
          border-radius: mobile-vw(20px);
        }
      }

      &::before {
        content: "";
        @include position(absolute, auto, auto, 0, 50%);
        @include dims(calc(100% + 4px), 70%);
        background-color: var(--lynx-white);
        transform: translateX(-50%);
        z-index: 5;

        @include mobile {
          display: none;
        }
      }

      h3 {
        font-family: var(--font-mukta);
        font-size: desktop-vw(100px);
        font-weight: 200;
        line-height: 1;
        margin-bottom: desktop-vw(20px);
        position: relative;
        z-index: 10;

        @include mobile {
          font-size: mobile-vw(80px);
          margin-bottom: 0;
        }

        span {
          font-size: desktop-vw(50px);

          @include mobile {
            font-size: mobile-vw(30px);
          }
        }
      }

      p {
        @include dims(desktop-vw(240px), auto);
        font-family: var(--font-mukta);
        font-size: desktop-vw(20px);
        font-weight: 200;
        line-height: 1.25;
        position: relative;
        z-index: 10;

        @include mobile {
          @include dims(mobile-vw(240px), auto);
          font-size: mobile-vw(20px);
        }
      }
    }
  }

  .marqueeC {
    @include dims(100%, auto);
    position: relative;

    &:before,
    &:after {
      content: "";
      @include dims(desktop-vw(400px), 100%);
      z-index: 10;

      @include mobile {
        @include dims(mobile-vw(50px), 100%);
      }
    }

    &:before {
      @include position(absolute, 0, auto, 0, 0);
      background: linear-gradient(90deg, var(--lynx-white), var(--lynx-white-transparent));
    }

    &:after {
      @include position(absolute, 0, 0, 0, auto);
      background: linear-gradient(-90deg, var(--lynx-white), var(--lynx-white-transparent));
    }

    .item {
      @include dims(desktop-vw(100px), desktop-vw(50px));
      flex-shrink: 0;
      margin: 0 desktop-vw(25px);

      @include mobile {
        @include dims(mobile-vw(100px), mobile-vw(50px));
        margin: 0 mobile-vw(15px);
      }
    }
  }
}

.specs {
  padding: var(--spacing-xl);

  @include mobile {
    padding: var(--spacing-lg) var(--spacing-sm);
  }

  .cards {
    gap: desktop-vw(40px) desktop-vw(140px);
    margin-left: auto;

    @include mobile {
      gap: mobile-vw(50px);
    }

    .cardSpec {
      h4 {
        color: var(--quarterdeck);
        font-family: var(--font-albert-sans);
        font-size: desktop-vw(24px);
        font-weight: 400;
        letter-spacing: -0.04em;
        line-height: 1.2;
        margin-bottom: desktop-vw(16px);

        @include mobile {
          font-size: mobile-vw(24px);
          margin-bottom: mobile-vw(25px);
          text-align: center;
        }
      }

      p {
        font-family: var(--font-mukta);
        font-size: desktop-vw(16px);
        font-weight: 300;
        line-height: 1.35;

        @include mobile {
          font-size: mobile-vw(16px);
          text-align: center;
        }
      }
    }
  }
}

.discover {
  padding: 0 var(--spacing-xl);

  @include mobile {
    padding: 0;
  }

  .card {
    background-color: var(--lynx-white);
    border-radius: desktop-vw(20px);
    padding: desktop-vw(40px);

    @include mobile {
      border-radius: mobile-vw(20px);
      padding: mobile-vw(50px) mobile-vw(16px);
    }

    .text {
      @include dims(desktop-vw(500px), auto);

      @include mobile {
        @include dims(auto);
      }

      > h4 {
        font-family: var(--font-albert-sans);
        font-size: desktop-vw(50px);
        font-weight: 400;
        letter-spacing: -0.04em;
        line-height: 1.25;
        margin-bottom: desktop-vw(25px);

        @include mobile {
          font-size: mobile-vw(30px);
          margin-bottom: mobile-vw(25px);
          text-align: center;
        }
      }

      > p {
        font-family: var(--font-albert-sans);
        font-size: desktop-vw(20px);
        font-weight: 300;
        line-height: 1.35;
        margin-bottom: desktop-vw(60px);

        @include mobile {
          font-size: mobile-vw(20px);
          margin-bottom: mobile-vw(30px);
          text-align: center;
        }
      }
    }

    .imgC {
      @include dims(auto, desktop-vw(580px));
      border-radius: desktop-vw(5px);
      overflow: hidden;

      @include mobile {
        @include dims(100%, mobile-vw(250px));
        border-radius: mobile-vw(5px);
      }
    }
  }
}

.testimonials {
  padding: desktop-vw(100px) 0;

  @include mobile {
    padding: mobile-vw(50px) 0;
  }

  > h3 {
    font-family: var(--font-albert-sans);
    font-size: desktop-vw(80px);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.04em;
    margin: 0 var(--spacing-xl);
    margin-bottom: desktop-vw(100px);

    @include mobile {
      font-size: mobile-vw(40px);
      margin: 0 mobile-vw(16px);
      margin-bottom: mobile-vw(30px);
      text-align: center;
    }
  }

  .sliderC {
    .cardC {
      @include dims(desktop-vw(410px), desktop-vw(250px));
      border-radius: desktop-vw(10px);
      border: 1px solid var(--black);

      @include mobile {
        @include dims(mobile-vw(410px), mobile-vw(250px));
        border-radius: mobile-vw(10px);
      }
    }

    .navigation {
      display: flex;
      gap: desktop-vw(16px);
      margin-top: desktop-vw(24px);

      @include mobile {
        gap: mobile-vw(16px);
        margin-top: mobile-vw(24px);
      }
    }

    .btn {
      @include dims(desktop-vw(50px));
      align-items: center;
      background-color: var(--clouded-vision);
      border-radius: desktop-vw(5px);
      display: flex;
      justify-content: center;

      @include mobile {
        @include dims(mobile-vw(50px));
        border-radius: mobile-vw(5px);
      }
    }
  }
}
