.island {
  background-color: var(--lynx-white);
  border-radius: desktop-vw(20px);
  margin: 0 var(--spacing-sm);
  padding: desktop-vw(65px) desktop-vw(85px);

  > h1 {
    @include dims(desktop-vw(600px), auto);
    font-family: var(--font-albert-sans);
    font-size: desktop-vw(45px);
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.04em;
    margin-bottom: desktop-vw(50px);
    text-align: center;

    > button {
      @include dims(desktop-vw(244px), desktop-vw(64px));
      border-radius: desktop-vw(52px);
      border: 1px solid var(--black);
    }
  }

  > p {
    @include dims(desktop-vw(850px), auto);
    font-family: var(--font-mukta);
    font-size: desktop-vw(25px);
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: desktop-vw(50px);
    text-align: center;

    > button {
      @include dims(desktop-vw(244px), desktop-vw(64px));
      border-radius: desktop-vw(52px);
      border: 1px solid var(--black);
    }
  }

  > .videoC {
    @include dims(desktop-vw(770px), desktop-vw(300px));
    border-radius: desktop-vw(5px);
    margin-bottom: desktop-vw(60px);
    overflow: hidden;
  }

  > h2 {
    @include dims(desktop-vw(640px), auto);
    font-family: var(--font-albert-sans);
    font-size: desktop-vw(28px);
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: desktop-vw(140px);
    margin-top: desktop-vw(50px);
    margin-left: auto;
  }

  .stats {
    margin-bottom: desktop-vw(50px);

    &:hover {
      > div {
        opacity: 0.25;
      }
    }

    > div {
      padding: desktop-vw(16px);
      position: relative;
      transition: 400ms opacity var(--ease-out-expo);

      &:hover {
        opacity: 1;

        &::after {
          transform: translateY(desktop-vw(-20px));
        }
      }

      &::after {
        content: "";
        @include position(absolute, 0, 0px, 0, 1px);
        border: 1px solid var(--clouded-vision);
        border-radius: desktop-vw(20px);
        margin: 0 -1px;
        transition: 400ms transform var(--ease-out-expo);
        z-index: 0;
      }

      &::before {
        content: "";
        @include position(absolute, auto, auto, 0, 50%);
        @include dims(calc(100% + 4px), 70%);
        background-color: var(--lynx-white);
        transform: translateX(-50%);
        z-index: 5;
      }

      h3 {
        font-family: var(--font-mukta);
        font-size: desktop-vw(100px);
        font-weight: 200;
        margin-bottom: desktop-vw(20px);
        position: relative;
        z-index: 10;

        span {
          font-size: desktop-vw(50px);
        }
      }

      p {
        @include dims(desktop-vw(240px), auto);
        font-family: var(--font-mukta);
        font-size: desktop-vw(20px);
        font-weight: 200;
        line-height: 1.25;
        position: relative;
        z-index: 10;
      }
    }
  }

  .marqueeC {
    @include dims(100%, auto);
    position: relative;

    &:before {
      content: "";
      @include position(absolute, -1px, auto, -1px, -1px);
      @include dims(desktop-vw(400px), 100%);
      background: linear-gradient(90deg, var(--lynx-white), var(--lynx-white-transparent));
      z-index: 10;
    }

    &:after {
      content: "";
      @include position(absolute, -1px, -1px, -1px, auto);
      @include dims(desktop-vw(400px), 100%);
      background: linear-gradient(-90deg, var(--lynx-white), var(--lynx-white-transparent));
      z-index: 10;
    }

    .item {
      @include dims(desktop-vw(100px), desktop-vw(50px));
      flex-shrink: 0;
      margin: 0 desktop-vw(25px);
    }
  }
}

.specs {
  padding: var(--spacing-xl);

  .cards {
    gap: desktop-vw(40px) desktop-vw(140px);
    margin-left: auto;

    .cardSpec {
      h4 {
        color: var(--quarterdeck);
        font-family: var(--font-albert-sans);
        font-size: desktop-vw(24px);
        font-weight: 400;
        letter-spacing: -0.04em;
        line-height: 1.2;
        margin-bottom: desktop-vw(25px);
      }

      p {
        font-family: var(--font-mukta);
        font-size: desktop-vw(16px);
        font-weight: 300;
        line-height: 1.35;
        margin-bottom: desktop-vw(40px);
      }
    }
  }
}

.discover {
  padding: 0 var(--spacing-xl);

  .card {
    background-color: var(--lynx-white);
    border-radius: desktop-vw(20px);
    padding: desktop-vw(40px);

    .text {
      @include dims(desktop-vw(470px), auto);

      > h4 {
        font-family: var(--font-albert-sans);
        font-size: desktop-vw(50px);
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: desktop-vw(-2px);
        margin-bottom: desktop-vw(25px);
      }

      > p {
        font-family: var(--font-albert-sans);
        font-size: desktop-vw(20px);
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: desktop-vw(60px);
      }
    }

    .imgC {
      @include dims(auto, desktop-vw(580px));
      border-radius: desktop-vw(5px);
      overflow: hidden;
    }
  }
}

.testimonials {
  padding: desktop-vw(100px) 0;

  > h3 {
    font-family: var(--font-albert-sans);
    font-size: desktop-vw(80px);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: desktop-vw(-6px);
    margin: 0 var(--spacing-xl);
    margin-bottom: desktop-vw(100px);
    display: flex;
    flex-direction: column;

    span {
      &:nth-child(1) {
        margin-right: auto;
      }

      &:nth-child(2) {
        margin-left: auto;
      }
    }
  }

  .sliderC {
    .cardC {
      @include dims(desktop-vw(410px), desktop-vw(250px));
      border-radius: desktop-vw(10px);
      border: 1px solid var(--black);
    }

    .navigation {
      display: flex;
      gap: desktop-vw(16px);
      margin-top: desktop-vw(24px);
    }

    .btn {
      @include dims(desktop-vw(50px));
      align-items: center;
      background-color: var(--clouded-vision);
      border-radius: desktop-vw(5px);
      display: flex;
      justify-content: center;
    }
  }
}
