.mainSlider {
  position: relative;

  .textC {
    @include dims(desktop-vw(600px), auto);
    position: relative;

    @include mobile {
      @include dims(100%, mobile-vw(330px));
      order: 3;
    }

    .text {
      @include position(absolute, desktop-vw(50px), auto, auto, 0);
      @include dims(desktop-vw(460px), auto);
      opacity: 0;
      transition: 400ms opacity ease;

      @include mobile {
        @include position(absolute, mobile-vw(16px), auto, auto, 0);
        @include dims(auto);
      }

      &.visible {
        opacity: 1;
      }

      > h2 {
        font-family: var(--font-albert-sans);
        font-size: desktop-vw(30px);
        font-weight: 400;
        line-height: 1.25;
        margin-bottom: desktop-vw(30px);

        @include mobile {
          font-size: mobile-vw(24px);
          margin-bottom: mobile-vw(10px);
          text-align: center;
        }
      }

      > p {
        font-family: var(--font-albert-sans);
        font-size: desktop-vw(18px);
        font-weight: 300;
        line-height: 1.35;
        margin-bottom: desktop-vw(40px);

        @include mobile {
          font-size: mobile-vw(18px);
          margin-bottom: mobile-vw(30px);
          text-align: center;
        }
      }
    }
  }

  .visuals {
    position: relative;

    @include mobile {
      @include dims(100%, auto);
      order: 1;
    }

    .mediaC {
      @include dims(desktop-vw(745px), desktop-vw(520px));
      border-radius: desktop-vw(8px);
      overflow: hidden;
      position: relative;

      @include mobile {
        @include dims(100%, mobile-vw(240px));
        border-radius: mobile-vw(5px);
      }

      .media {
        @include position(absolute, 0, 0, 0, 0);
        opacity: 0;
        transition: 800ms opacity ease;

        &.visible {
          opacity: 1;
        }
      }
    }
  }

  .miniMapC {
    @include position(absolute, auto, auto, 0, 0);
    background-color: var(--unbleached);
    gap: desktop-vw(6px);
    padding: desktop-vw(8px);
    border-top-right-radius: desktop-vw(10px);

    @include mobile {
      @include position(relative, auto, auto, auto, auto);
      border-top-right-radius: none;
      gap: mobile-vw(6px);
      padding: mobile-vw(6px);
      order: 2;
    }

    .miniMap {
      gap: desktop-vw(10px);

      @include mobile {
        gap: mobile-vw(6px);
      }

      .media {
        @include dims(desktop-vw(40px));
        border-radius: desktop-vw(4px);
        filter: grayscale(1);
        opacity: 0.3;
        overflow: hidden;
        transition: 800ms opacity ease, 800ms filter ease;

        @include mobile {
          @include dims(mobile-vw(50px), mobile-vw(35px));
          border-radius: mobile-vw(4px);
        }

        &.visible {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }

    .progressBar {
      @include dims(100%, desktop-vw(1px));
      background-color: var(--pinball);
      border-radius: desktop-vw(4px);
      overflow: hidden;

      @include mobile {
        @include dims(100%, mobile-vw(1px));
        border-radius: mobile-vw(4px);
      }

      .bar {
        @include dims(100%);
        background-color: var(--black);
        border-radius: desktop-vw(4px);
        transform-origin: left center;

        @include mobile {
          border-radius: mobile-vw(4px);
        }
      }
    }
  }
}
