.default {
  background-color: var(--quarterdeck);
  border: 1px solid var(--quarterdeck);
  color: var(--unbleached);
  font-family: var(--font-mukta);
  font-weight: 400;
  line-height: 1;
  transition: 200ms all ease;

  @include hover {
    &:hover {
      background-color: var(--unbleached);
      color: var(--quarterdeck);
    }
  }
}

.inverted {
  background-color: var(--unbleached);
  border: 1px solid var(--unbleached);
  color: var(--quarterdeck);
  font-family: var(--font-mukta);
  font-weight: 400;
  line-height: 1;
  transition: 200ms all ease;

  @include hover {
    &:hover {
      background-color: var(--quarterdeck);
      color: var(--unbleached);
    }
  }
}

.bw {
  background-color: var(--unbleached);
  border: 1px solid var(--black);
  color: var(--black);
  font-family: var(--font-mukta);
  font-weight: 400;
  line-height: 1;
  transition: 200ms all ease;

  @include hover {
    &:hover {
      background-color: var(--black);
      color: var(--unbleached);
    }
  }
}

.highlighted {
  background-color: var(--quarterdeck);
  border: 1px solid var(--quarterdeck);
  color: var(--unbleached);
  font-family: var(--font-mukta);
  font-weight: 900;
  line-height: 1;
  transition: 200ms all ease;

  @include hover {
    &:hover {
      background-color: var(--bg-color);
      color: var(--unbleached);
    }
  }
}

.naked {
  background-color: transparent;
  display: inline-flex;
  font-family: var(--font-mukta);
  font-weight: 400;
  line-height: 1;
}

.sm {
  font-size: desktop-vw(14px);

  @include mobile {
    font-size: mobile-vw(14px);
  }
}

.md {
  font-size: desktop-vw(16px);

  @include mobile {
    font-size: mobile-vw(16px);
  }
}

.lg {
  font-size: desktop-vw(18px);

  @include mobile {
    font-size: mobile-vw(16px);
  }
}
